body {
    margin: 0px;
    padding: 0px;
}


/**************** playerPage ****************/

.startContainer {
    padding-top: 30px;
    width: 300px;
    margin: auto;
}

.startContainer form {
    margin-bottom: 0;
}

.startContainer th {
    text-align: left;
}

/**************** /playerPage ****************/

.container {
    width: 1000px;
    margin: auto;
}

#map {
    margin: auto;
}

/**************** FOOTER ****************/
.footer {
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.console {
    height:200px;
    width: 700px;
    float: left;
    padding: 0;
    border:1px solid #ccc;
    overflow:auto;
}

.yes{
	float: left;
}

.playerTable {
    float: right;
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-right: 20px;
    padding: 0;
}

.console p {
    margin: 3px;
}

.console p:nth-child(odd) {
    /*font-style: italic;*/
}

.console p.newStatus {
    /*font-style: normal;*/
    font-weight: bold;
    color: red;
}

.footer:after {
    clear:both;
}

